
{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>About</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{% static 'front/css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{% static 'front/css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'front/css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'front/images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'front/css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="{% static 'front/https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' %}">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="{% static 'front/css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'front/css/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="{% static 'front/https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css' %}" media="screen">
   </head>
   <body>
      <!-- header section start -->
		<div class="header_section">
			<div class="container-fluid">
			   <nav class="navbar navbar-expand-lg navbar-light bg-light">
				  <div class="logo"><a href="index.html"><img src="{% static 'front/images/logo2.png' %}"></a></div>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					 <ul class="navbar-nav mr-auto">
						<li class="nav-item">
						   <a class="nav-link" href="{% url 'logout' %}">Home</a>
						</li>
						<li class="nav-item">
						   <a class="nav-link" href="{% url 'menu_list' %}">Menu</a>
						</li>
						<li class="nav-item">
						   <a class="nav-link" href="{% url 'about' %}">About</a>
						</li>
                  <li class="nav-item">
						   <a class="nav-link" href="{% url 'promosi_list' %}">Promo</a>
						</li>
					 </ul>
					 <!-- <form class="form-inline my-2 my-lg-0">
						<h1 class="call_text">Call Us : +01 1234567890</h1>
					 </form> -->
					 <div class="search_icon">
						<ul>
						   <li><a href="#"><img src="{% static 'front/images/search-icon.png' %}"></a></li>
						   <li><a href="{% url 'login' %}">LOGIN</a></li>
						</ul>
					 </div>
				  </div>
			   </nav>
			</div>
		 </div>
      <!-- header section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <h1 class="about_text">About Us</h1>
                  <p class="lorem_text">Filosofi Kopi adalah sebuah movement untuk memberdayakan kopi Nusantara. Kita Indonesia memiliki kekayaan kopi yang luar biasa. Namun seperti kita tahu bahwa gerai-gerai kopi dari manca negara yang berkibar di Indonesia. Juga beans Indonesia justru kalah pamor dengan beans-beans luar negeri. Filosofi Kopi tumbuh kembang sebagai sebuah ekosistem yang dekat dengan dunia kopi. Ekosistem berkembang dari kedai, produk kopi, art, fashion, musik hingga event-event yang dekat dengan anak muda.s</p>
                  <!-- <div class="read_bt1"><a href="#">Read More</a></div> -->
               </div>
               <div class="col-md-6">
                  <div class="image_1"><img src="{% static 'front/images/img-1.jpg' %}"></div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <h1 class="about_text">About Me</h1>
                  <p class="lorem_text">Saya adalah Novia Rahmadana seorang mahasiswi Universitas Muhammadiyah Kalimantan Timur Semester 5 Jurusan S1 Teknik Informatika, lahir di Samarinda 13 November 2022. Alasan saya mengambil jurusan Teknik Informatika adalah karena saya di SMK sudah mengambil jurusan Teknik Komputer Jaringan dan saya sudah memiliki sedikit dasar di dunia coding oleh karena itu saya ingin melanjutkan di bidang Teknik Informatika dan juga di jurusan Teknik Informatika ini memiliki prospek kerja yang bagus</p>
                  <!-- <div class="read_bt1"><a href="#">Read More</a></div> -->
               </div>
               <div class="col-md-6">
                  <div class="image_1"><img src="{% static 'front/images/IMG_2236.jpg' %}"></div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->

      <div class="copyright_section">
      <div class="container">
         <div class="social_icon">
            <ul>
               <li><a href="#"><img src="{% static 'front/images/fb-icon.png' %}"></a></li>
               <li><a href="#"><img src="{% static 'front/images/twitter-icon.png' %}"></a></li>
               <li><a href="#"><img src="{% static 'front/images/instagram-icon.png' %}"></a></li>
               <li><a href="#"><img src="{% static 'front/images/linkedin-icon.png' %}"></a></li>
            </ul>
         </div>
         <!-- <p class="copyright_text">2020 All Rights Reserved. Design by <a href="https://html.design">Free html  Templates</a></p> -->
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="{% static 'front/js/jquery.min.js' %}"></script>
      <script src="{% static 'front/js/popper.min.js' %}"></script>
      <script src="{% static 'front/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'front/js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'front/js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'front/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'front/js/custom.js' %}"></script>
      <!-- javascript --> 
      <script src="{% static 'front/js/owl.carousel.js' %}"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.jss"></script>    
   </body>
</html>