
{% extends 'back/base.html' %}

{% block content %}

	        <div class="content">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="card">
							    <form method="POST" action="" enctype="multipart/form-data">
									{% csrf_token %}
		                            <div class="card-header">
									    <h4 class="card-title">
											{{title}}
										</h4>
									</div>
		                            <div class="card-content">
	                                    <div class="form-group">
	                                        <label>Nama</label>
	                                        <!-- <input name="nama" type="text" placeholder="Masukkan Nama" class="form-control"> -->
											{{forms_menu.nama}}
										</div>
	                                    <div class="form-group">
	                                        <label>Harga</label>
											{{forms_menu.harga}}
	                                        <!-- <input name="harga" type="int" placeholder="Masukkan Harga" class="form-control"> -->
	                                    </div>
                                        <div class="form-group">
	                                        <label>Deskripsi</label>
                                            <!-- <textarea name="deskripsi" id="" cols="30" rows="5" class="form-control"></textarea> -->
											{{forms_menu.deskripsi}}
	                                        <!-- <input type="text" placeholder="Masukkan Deskripsi" class="form-control"> -->
	                                    </div>
                                        <div class="form-group">
	                                        <label>Stok</label>
	                                        <!-- <input name="stok" type="int" placeholder="Masukkan Stok" class="form-control"> -->
											{{forms_menu.stok}}
										</div>
	                                    <div class="form-group">
                        
	                                    </div>
	                                    <button type="submit" class="btn btn-fill btn-info">Submit</button>
		                            </div>
							    </form>
	                        </div> <!-- end card -->
	            </div>

	    	</div>
		</div>
	</div>
</body>


</html>
{% endblock content %}